# OS関連
.DS_Store
Thumbs.db

# node.js関連（使っていれば）
node_modules/
npm-debug.log*

# ビルド・キャッシュ
dist/
build/
*.log

# 環境設定
.env
*.local

# IDE関連
.vscode/
.idea/
*.sublime-project
*.sublime-workspace